:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: black;
  background-image: url('/lava.gif');
  background-size: cover;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  height: 100dvh;
}

body {
  padding-top: 20px;
  display: flex;
  place-items: center;
  justify-content: center;
  min-width: 320px;
  height: 80vh;
}

.box {
  height: 100%;  
}

 img{
  height: 100%;
  size: cover;
  object-fit: cover;
  }